<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" href="style.css">
    </head>
<section id="about">
    <div class="section-inner">
        <img src="https://i.pinimg.com/originals/83/18/6f/83186f29cc6c9bcac0b0612993347f9e.jpg" class="page2-img">
        <h2>About me</h2>
        <p>I'm a really awesome Koala. Looking for some experience on being an actual adult. Every day I wake up, munch on some leaves, do some coding and then go back to sleep.</p>
        <h3>Koalafications</h3>
        <ul>
            <li>Bachelor of photogenic posing, 2019</li>
            <li>Koalaity degree from Columbia College </li>
            <li>Koffee konnoisseur</li>
            <li>First time coding a website</li>
        </ul>
        <a href="#home"> Go Back Home</a>
    </div>
</section>
</html>