<!DOCTYPE html>
<html>
    <head>
        <title>Zuzu the Koala</title>
        <link rel="stylesheet" href="style">
    </head>
    <style type = "text/css">
        body {
        margin: 0;
        margin-top: 50px;
        background-color: aquamarine;
        }

        header {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 50px;
        line-height: 50px;
        background-color: rgb(170, 166, 166);
    }

    header * {
        display: inline;
        height: 50px;
        line-height: 50px;
    }

    header ul {
        padding: 0;
    }

    header li {
        margin-left: 20px;
    }

    section {
        height: 100vh;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #home .profile-img {
        width: 300px;
    }

    #about .page2-img {
        width: 200px;
    }

    #services .page3-img {
    width: 250px;
}

    #contact .page4-img {
        width: 200px;
    }

    footer {
        text-align: center;
        padding: 50px;
    }
    </style>
    <body>
        <header>
            <img src="http://gjsmsvirtualzoo.pbworks.com/f/1417702731/koala%20%20bear.jpg" class="profile-img">
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="home">
                <div class="section-inner">
                    <img src="http://gjsmsvirtualzoo.pbworks.com/f/1417702731/koala%20%20bear.jpg" class="profile-img">
                    <h1>Hi, I'm Zuzu the Koala.</h1>
                    <p>This page is about saving our land</p>
                    </br>
                    <p> Due to habitat destruction, I'm losing my family -- please read about it in the link I have provided on my Home page </p>
                    </br>
                    <p><a href= "https://www.australiazoo.com.au/conservation/programs/endangered-species/koala.php" target = "_blank"> I'm the link: Click Me </a> </p>
                </div>
            </section>
            <section id="about">
                <div class="section-inner">
                    <img src="https://i.pinimg.com/originals/83/18/6f/83186f29cc6c9bcac0b0612993347f9e.jpg" class="page2-img">
                    <h2>About me</h2>
                    <p>I have started my own non profit organization from Jersey to save the other Koalas in places 

                    </br> like Australia. Even though we are technically not listed as endangered, we are losing Koalas like flies due to 
                    </br>urbanization.  All I want to do is find or even build eucalyptus forests and woodlands. </p>
                    <h3>My Koalafications</h3>
                    <ul>
                        <li>Bachelor of photogenic posing, 2019</li>
                        <li>Koalaity degree from Columbia College </li>
                        <li>Koffee konnoisseur</li>
                        <li>Advocate for all the Koala's in need</li>
                    </ul>
                    <a href="#home"> Go Back Home</a>
                </div>
            </section>
            <section id="services">
                    <div class="section-inner">
                        <img src="https://i.ytimg.com/vi/1R-QFQGWYuc/maxresdefault.jpg" class="page3-img">
                        <h2>The Services We Offer</h2>
                        <p>All we, some of my new business partners and I, ask that you either adopt a koala or plant a tree. 
                        </br> The way the adoption works is this: you can adopt by picking one or multiple koalas for your local zoo. 
                        </br> The way you can help build a forest is by picking locations, in designated areas on our map, to plant both seeds and bulbs.
                        </p>
                        <h3>Partnerships With the Following Zoos</h3>
                        <ul>
                            <li>Australia Zoo</li>
                            <li>Philadelphia Zoo  </li>
                            <li>Chicago Zoo</li>
                            <li>New York Central Park Zoo</li>
                            <li>Toronto Zoo</li>
                        </ul>
                        <a href="#home"> Go Back Home</a>
                    </div>
            </section>
            <section id="contact">
                <div class="section-inner">
                    <img src="https://i.pinimg.com/originals/c5/25/62/c52562da945576ff079eca4aba782ac5.jpg" class="page4-img">
                    <h2>Contact me</h2>
                    <p>You can find me on:</p>
                    <ul>
                        <li><a href="https://twitter.com/koala">Twitter</a></li>
                        <li><a href="https://www.instagram.com/koalas.lover/">Instagram</a></li> </br> Leave a Comment
                        <textarea name = "txtmesage" rows= "1" cols= "16"> </textarea>
                    </ul>
                    <p>Or, you can <a href="mailto:zuzuthekoala@gmail.com">send me an email</a>.</p>
                    <a href= "#home" > Go Back Home</a>
                </div>
            </section>
        </main>
        <footer>
            &copy Zuzu The Koala, 2019
        </footer>
    </body>
</html>